bin/devspace-compat/1.0.4/delete-file.patch -text
bin/devspace-compat/1.0.4/trash-file.patch -text
bin/devspace-compat/1.0.4/directory-read-to-file-safety.patch -text
bin/devspace-compat/1.0.4/file-safety-to-read-chunk.patch -text
